$base-font-size: 16px;
$spacing-unit: 30px;

math[display="block"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $spacing-unit * 0.5;
}

@media screen and (min-width: 800px) {
    math[display="block"] {
	font-size: 20pt;
    }
}
