---
---

@import "{{ site.theme }}";

body, html {
    scroll-behavior: smooth;
}

details {
    font-style: italic;
    margin-bottom: 1em;

    & > summary {
	font-size: 1.2rem;
	font-weight: bold;
    }
}

.post_tag, .post_tag:hover, .post_tag:visited {
  margin: 0 .3em 0 .3em;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #629dea;
  padding: 5px 10px;
}

audio, img, video {
  width: 100%;
}

.image {
    &-left {
	display: block;
        margin-bottom: $spacing-unit * 0.5;
    }

    &-right {
	display: block;
        margin-bottom: $spacing-unit * 0.5;
    }
}

.float {
    &-left {
	display: block;
        margin-bottom: $spacing-unit * 0.5;
    }

    &-right {
	display: block;
        margin-bottom: $spacing-unit * 0.5;
    }
}

form {
    & label > input {
	display: block;
	width: 100%;
        margin-bottom: $spacing-unit * 0.5;
    }
}


@media screen and (min-width: 800px) {
  %image {
    display: inline-block;
    margin: auto;
    max-width: 49%;
    width: 50%;
  }

  *:has(> .float-left, > .float-right)::after {
    content: " ";
    display: block;
    clear: both;
  }

  .float {
    &-left {
      @extend %image;
      float: left;
      margin-right: 2%;
    }
    &-right {
      @extend %image;
      float: right;
      margin-left: 2%;
    }
  }

  .image {
    &-left {
      @extend %image;
      padding-right: 5px;
    }

    &-right {
      @extend %image;
      padding-left: 5px;
    }
  }
}
